<html>
    <head>
        <% include ./partials/head %>
    </head>
    <body>
        <div class="container">
            <header>
                <a href="/"><img src="/images/favicon.png" style='width:45px;height:30px;'></a>
                <div>
                    <a href="/user">Profile</a>
                    | <a onclick="let r = confirm('deseja sair?');if(r==true){window.location.href='/logout'}">Logout</a>
                </div>
            </header>
            
            <section>
                <div class="container">
                    <div class="box1">
                        <a style="font-weight:bold" onclick="window.location.href='/factory'">Fábrica</a>
                        <p class="underline">__________</p><br>
                        <a onclick="window.location.href='/factory/product'">Produtos</a>
                    </div>
                    <div class="box1" style="border-style: solid; border-radius: 10px;">
                        Div 2
                    </div>
                    <div class="box1">
                        <a style="font-weight:bold" onclick="window.location.href='/factory'">Fábrica</a>
                        <p class="underline">__________</p><br>
                        <a onclick="window.location.href='/factory/product'">Produtos</a>
                    </div>
                    <div class="box1">
                        <a style="font-weight:bold" onclick="window.location.href='/factory'">Fábrica</a>
                        <p class="underline">__________</p><br>
                        <a onclick="window.location.href='/factory/product'">Produtos</a>
                    </div>
                    <div class="box1">
                        <a style="font-weight:bold" onclick="window.location.href='/factory'">Fábrica</a>
                        <p class="underline">__________</p><br>
                        <a onclick="window.location.href='/factory/product'">Produtos</a>
                    </div>
                    <div class="box1">
                        <a style="font-weight:bold" onclick="window.location.href='/factory'">Fábrica</a>
                        <p class="underline">__________</p><br>
                        <a onclick="window.location.href='/factory/product'">Produtos</a>
                    </div>
                    <div class="box1">
                        <a style="font-weight:bold" onclick="window.location.href='/factory'">Fábrica</a>
                        <p class="underline">__________</p><br>
                        <a onclick="window.location.href='/factory/product'">Produtos</a>
                    </div>
                    <div class="box1">
                        <a style="font-weight:bold" onclick="window.location.href='/factory'">Fábrica</a>
                        <p class="underline">__________</p><br>
                        <a onclick="window.location.href='/factory/product'">Produtos</a>
                    </div>
                    <div class="box1">
                        <a style="font-weight:bold" onclick="window.location.href='/factory'">Fábrica</a>
                        <p class="underline">__________</p><br>
                        <a onclick="window.location.href='/factory/product'">Produtos</a>
                    </div>
                    <div class="box1">
                        <a style="font-weight:bold" onclick="window.location.href='/factory'">Fábrica</a>
                        <p class="underline">__________</p><br>
                        <a onclick="window.location.href='/factory/product'">Produtos</a>
                    </div>
                    <div class="box1">
                        <a style="font-weight:bold" onclick="window.location.href='/factory'">Fábrica</a>
                        <p class="underline">__________</p><br>
                        <a onclick="window.location.href='/factory/product'">Produtos</a>
                    </div>
                    <div class="box1">
                        <a style="font-weight:bold" onclick="window.location.href='/factory'">Fábrica</a>
                        <p class="underline">__________</p><br>
                        <a onclick="window.location.href='/factory/product'">Produtos</a>
                    </div>
                    <div class="box1">
                        <a style="font-weight:bold" onclick="window.location.href='/factory'">Fábrica</a>
                        <p class="underline">__________</p><br>
                        <a onclick="window.location.href='/factory/product'">Produtos</a>
                    </div>
                    <div class="box1">
                        <a style="font-weight:bold" onclick="window.location.href='/factory'">Fábrica</a>
                        <p class="underline">__________</p><br>
                        <a onclick="window.location.href='/factory/product'">Produtos</a>
                    </div>
                    <div class="box1">
                        <a style="font-weight:bold" onclick="window.location.href='/factory'">Fábrica</a>
                        <p class="underline">__________</p><br>
                        <a onclick="window.location.href='/factory/product'">Produtos</a>
                    </div>
                    <div class="box1">
                        <a style="font-weight:bold" onclick="window.location.href='/factory'">Fábrica</a>
                        <p class="underline">__________</p><br>
                        <a onclick="window.location.href='/factory/product'">Produtos</a>
                    </div>
                </div>
            </section>
        </div>
    </body>
    
    <footer>
        <% include ./partials/footer %>
    </footer>
</html>