<html>
    <head>
        <% include ./partials/head %>
    </head>

    <body>
        <div class="container">
            <header>
                <a href="/"><img src="/images/favicon.png" style='width:45px;height:30px;'></a>
                <div>
                    <a href="/user">Aluno</a>
                    | <a onclick="let r = confirm('deseja sair?');if(r==true){window.location.href='/user/logout'}">Logout</a>
                </div>
            </header>
            
            <section>
                <div class="container">
                    <div class="box2">
                        <h1>Assuntos que serão abordados durante o curso gratuito</h1><br>
                        <p>HTML</p>
                        <p>Elementos DOM</p>
                        <p>CSS</p>
                        <p>Operadores comparativos</p>
                        <p>Operadores lógicos</p>
                        <p>Operadores ternários</p>
                        <p>Loops</p>
                        <p>Funções</p>
                        <p>Parâmetros</p>
                        <p>Listeners</p>
                        <p>Conceito de Programação Orientada a Objeto OOP</p>
                        <p>Introdução ao banco de dados</p>
                        <p>Encadeamento de funções</p>
                        <p>Callbacks</p>
                        <p>Promises</p>
                        <p>Async/Await</p><br>
                        <h4>Os assuntos abaixo serão disponibilizados aqui no site apenas para integrantes do projeto</h4><br>
                        <p>Introdução ao NodeJS</p>
                        <p>Introdução Express</p>
                        <p>Explicando Rotas</p>
                        <p>Conceito e Exemplos de Ajax</p>
                        <p>Código EJS dinâmico</p>
                        <p>Boas práticas e código limpo</p>
                    </div>
                </div>
            </section>
        </div>
    </body>
    
    <footer>
        <% include ./partials/footer %>
    </footer>
</html>