<html>
    <head>
        <% include ./partials/head %>
    </head>

    <body>
        <div class="container">
            <header>
                <a href="/"><img src="/images/favicon.png" style='width:45px;height:30px;'></a>
                <div>
                    <a href="/user/login">Log in</a>
                    |
                    <a href="/user/signup">Sign up </a>
                </div>
            </header>
            
            <section>
                <div class="container">
                    <div class="box2">
                        <h1>Siga a Rota</h1><br>
                        <h3>Site estático com acesso a banco de dados</h3><br>
                        <p>Se você tem uma idéia que pode ser genial mas não tem recurso para investir nela, este projeto é perfeito para você, além de aprender na prática como desenvolver seu projeto você poderá disponibiliza-lo para teste sem gastar $1,00.</p><br>
                        <p>Este projeto está sendo criado com intuito de ajudar pessoas que estão iniciando no universo da programação e tecnologia.</p>
                        <p>Serão disponibilizadas <a href="https://www.youtube.com/channel/UC8Uo2uz4tI0rgwZvBdbYLMg/videos">aulas práticas</a> gratuitamente, com exemplos de fácil entendimento e de quais conceitos estudar.</p><br>
                        <p>Será criada uma série exclusiva de como desenvolver um site exatamente como este para aplicação dos conceitos aprendidos nas aulas.</p><br>
                        <p>O site será completamente estático permitindo hospedagem completamente gratuita através da ferramenta mostrada neste <a href="https://www.youtube.com/watch?v=DwDmiFh3qfQ">vídeo</a> e com acesso a um banco de dados também gratuito que será mostrado como implementa-lo no decorrer do processo.</p><br>
                        <p>Não perca essa oportunidade de aperfeiçoar suas habilidades e ainda ao final ter um modelo de sistema básico que poderá ser utilizado como base para desenvolver os SEUS próprios projetos.</p><br>
                        <p>Se inscreva <a href="signin.html">AGORA</a> e acesse a área privada para ver os conteúdos disponíveis apenas para membros.</p>
                    </div>
                </div>
            </section>
        </div>
    </body>
    
    <footer>
        <% include ./partials/footer %>
    </footer>
</html>