<html>
	<head>
        <% include ../partials/head %>
	</head>
	<body>
		<div class="main">
			<header>
				<a href="/"><img src="/images/favicon.png" class="favicon"></a>
				<div>
					<a href="/login">Login</a>
				</div>
			</header>
			<nav>
			</nav>
			<section>
				<div class="container">
					<div class="box-1">
						<form action="/user/signup" method="post">
							<div class="menu-box">
								<h4 class="underline">Cadastre-se ou faça seu <a href="/login">login</a></h4>
	                            <% if (message.length > 0) { %>
	                                <div class="alert-msg"><%= message %></div>
	                            <% } %>
								Nome Completo
								<input type="text" class="btn-generic-menu" name="name" maxlength="45" autocomplete="off">
								E-mail
								<input type="text" class="btn-generic-menu" name="email" id="email" onblur="validateEmail()" maxlength="45" autocomplete="off">
								Username
								<input type="text" class="btn-generic-menu" name="username" maxlength="45" autocomplete="off">
								Idade
								<input type="number" class="btn-generic-menu" name="age" maxlength="2" autocomplete="off" value='0'>
								Senha
								<input type="password" class="btn-generic-menu" name="password" maxlength="45" autocomplete="off">
								Confirmar senha
								<input type="password" class="btn-generic-menu" name="confirmPassword" maxlength="45" autocomplete="off">
								<button type="submit" class="btn-generic-menu">Signup</button>
							</div>
						</form>
					</div>
				</div>
			</section>
		</div>
		<!-- <button onclick="window.location.href='/users'">Usuários</button> -->
	</body>
	<footer>
        <% include ../partials/footer %>
	</footer>
	<script>
		function validateEmail() {
			let field = document.getElementById('email').value;
			userAdress = field.substring(0, field.indexOf("@"));
			domain = field.substring(field.indexOf("@")+ 1, field.length);
			 
			if ((userAdress.length >=1) &&
			    (domain.length >=3) && 
			    (userAdress.search("@")==-1) && 
			    (domain.search("@")==-1) &&
			    (userAdress.search(" ")==-1) && 
			    (domain.search(" ")==-1) &&
			    (domain.search(".")!=-1) &&      
			    (domain.indexOf(".") >=1)&& 
			    (domain.lastIndexOf(".") < domain.length - 1)) {
			}
			else{
				alert("E-mail inválido");
				document.getElementById('email').value = '';
			}
		}
	</script>
</html>