.favicon {
	border-radius: 3px;
	width: 35px;
	height: 35px;
}

.alert-msg {
	background-color:#f99;
	height: auto;
	width:300px;
	padding: 5px;
	margin:auto;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius:3px;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.underline {
	display: inline-block;
	position: relative;
	margin-bottom: 20px;
}

.underline::after {
	content: '';
	height: 1px;
	width: 100%;
	background-color: #e1e1e1;
	position: absolute;
	left: 0;
	bottom: -10;
}

.btn-generic-small {
	width:100px;
	height: 30px;
	margin: auto;
}

.btn-generic-medium {
	width:175px;
	height: 30px;
	margin: auto;
}

.btn-generic-big {
	width:210px;
	height: 30px;
	margin: auto;
}

.btn-generic-menu {
	width:200px;
	height: 30px;
	margin: auto;
	margin-bottom: 10px;
}

.btn-menu {
	border-radius: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
	border: 1px solid #fff;
}

.btn-menu:hover {
	background-color: #f0f0f0;
	border-radius: 3px;
	border: 1px solid #e1e1e1;
}