<html>
	<head>
        <% include ../partials/head %>
	</head>
	<body>
		<header>
			<a href="/"><img src="/images/favicon.png" style='width:45px;height:30px;'></a>
			<div>
    			<a onclick="let r = confirm('deseja sair?');if(r==true){window.location.href='/logout'}">Logout</a>
			</div>
		</header>

		<section>
			<div class="container">
				Factory
			</div>
		</section>
	</body>
	<footer>
        <% include ../partials/footer %>
	</footer>
</html>