<html>
	<head>
        <% include ../../partials/head %>
	</head>
	<body>
		<header>
			<a href="/"><img src="/images/favicon.png" style='width:45px;height:30px;'></a>
			<div>
    			<a onclick="let r = confirm('deseja sair?');if(r==true){window.location.href='/logout'}">Logout</a>
			</div>
		</header>

		<section>
			<div class="container">
				<div class="box1">
					<form action="/factory/product/save" method="post">
						<input type="text" name="product_cod" placeholder="Cód do produto" autocomplete="off" maxlength="4">
						<br>
						<select name="product_type" autocomplete="off">
							<option value="">Tipo</option>
							<option value="Colete">Colete</option>
							<option value="Peça_mod">Peça modular</option>
							<option value="Coldre">Coldre</option>
							<option value="Bornal">Bornal</option>
						</select>
						<input type="text" name="product_name" placeholder="Nome do produto" autocomplete="off" maxlength="44">
						<br>
						<select name="product_color" autocomplete="off">
							<option value="">Cor</option>
							<option value="pt">Preto</option>
							<option value="vd">Verde</option>
							<option value="tan">Tan</option>
							<option value="ptcamo">Preto camo</option>
							<option value="vdcamo">Verde camo</option>
						</select>
						<select name="product_size" autocomplete="off">
							<option value="">Tamanho</option>
							<option value="PP">PP</option>
							<option value="P">P</option>
							<option value="M">M</option>
							<option value="G">G</option>
							<option value="GG">GG</option>
						</select>
						<br><br>
						<input type="submit" value="Cadastrar">
					</form>
				</div>
				<div class="box1">
					div2
				</div>
			</div>
		</section>
	</body>
	<footer>
        <% include ../../partials/footer %>
	</footer>
</html>